<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDocumentation -->
      <package
            uri="http://www.ecrit.at/2014/model/modelDocumentation"
            class="at.ecrit.model.plugin.modelDocumentation.ModelDocumentationPackage"
            genModel="model/modelDocumentation.genmodel"/>
   </extension>

</plugin>
