<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.ecrit.plugin.documentation.tools.editor.EcritDocumentationModelEditor"
            default="true"
            extensions="ecritxmi"
            icon="rsc/icons/ecrit_16.png"
            id="at.ecrit.plugin.documentation.tools.editor"
            name="Ecrit Documentation File Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editorTab
            contribution="at.ecrit.plugin.documentation.tools.elementEditor.EcritElementEditorContribution">
      </editorTab>
   </extension>

</plugin>
