<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ecritBuilder"
         name="Ecrit Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="at.ecrit.plugin.documentation.core.builder.EcritBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ecritNature"
         name="Ecrit Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="at.ecrit.plugin.documentation.core.builder.EcritNature">
         </run>
      </runtime>
      <builder
            id="at.ecrit.plugin.documentation.core.ecritBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Ecrit Project Nature commands"
            id="at.ecrit.plugin.documentation.core.ecritNature.category">
      </category>
      <command
            categoryId="at.ecrit.plugin.documentation.core.ecritNature.category"
            id="at.ecrit.plugin.documentation.core.addEcritNature"
            name="Add Ecrit Project Nature">
      </command>
      <command
            categoryId="at.ecrit.plugin.documentation.core.ecritNature.category"
            id="at.ecrit.plugin.documentation.core.removeEcritNature"
            name="Remove Ecrit Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="at.ecrit.plugin.documentation.core.removeEcritNature"
               icon="rsc/icons/ecrit_16.png"
               label="Remove Ecrit Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="at.ecrit.plugin.documentation.core.ecritNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.ecrit.plugin.documentation.core.addEcritNature"
               icon="rsc/icons/ecrit_16.png"
               label="Add Ecrit Nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.pde.PluginNature">
                        </test>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="at.ecrit.plugin.documentation.core.ecritNature">
                           </test>
                        </not>
                        <test
                              property="at.ecrit.plugin.documentation.modeledProject">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.ecrit.plugin.documentation.core.builder.AddRemoveEcritNatureHandler"
            commandId="at.ecrit.plugin.documentation.core.addEcritNature">
      </handler>
      <handler
            class="at.ecrit.plugin.documentation.core.builder.AddRemoveEcritNatureHandler"
            commandId="at.ecrit.plugin.documentation.core.removeEcritNature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.ecrit.plugin.documentation.core.propertytester.EcritPropertyTester"
            id="at.ecrit.plugin.documentation.core.propertytester"
            namespace="at.ecrit.plugin.documentation"
            properties="modeledProject"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.ecrit.plugin.documentation.core.Startup">
      </startup>
   </extension>

</plugin>
