<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="output" name="output" schema="schema/output.exsd"/>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="rsc/icons/ecrit_16.png"
               id="ecrit_popup_submenu"
               label="Ecrit">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="activeMenuSelection">
                     <reference
                           definitionId="e4xmiFile">
                     </reference>
                  </with>
                  <with
                        variable="activeMenuEditorInput">
                     <reference
                           definitionId="e4xmiFile">
                     </reference>
                  </with>
               </or>
            </visibleWhen>
            <command
                  commandId="at.ecrit.eclipse.plugin.command.createAndOpenDocumentation"
                  label="Create Documentation"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.ecrit.eclipse.plugin.command.createAndOpenDocumentation"
            name="Create and open Documentation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.ecrit.eclipse.plugin.handler.CreateAndOpenDocumentationHandler"
            commandId="at.ecrit.eclipse.plugin.command.createAndOpenDocumentation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="e4xmiFile">
         <iterate
               ifEmpty="false">
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.e4xmi">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>

</plugin>
