<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritDocumentationElementEditorContribution">
      </editorTab>
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritIntroDocumentationElementEditorContribution">
      </editorTab>
   </extension>

</plugin>
