<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritDocumentationElementEditorContribution">
      </editorTab>
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritIntroDocumentationElementEditorContribution">
      </editorTab>
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritPerspectiveStackDocumentationElementEditorContribution">
      </editorTab>
      <editorTab
            contribution="at.ecrit.e4.tools.extension.core.EcritFAQDocumentationElementEditorContribution">
      </editorTab>      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="at.ecrit.e4.tools.extension.core.command.cut"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="at.ecrit.e4.tools.extension.core.command.copy"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="at.ecrit.e4.tools.extension.core.command.paste"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="at.ecrit.e4.tools.extension.core.command.textileContentAssist"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SPACE">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.ecrit.e4.tools.extension.core.commands.CutHandler"
            id="at.ecrit.e4.tools.extension.core.command.cut"
            name="Cut">
      </command>
      <command
            defaultHandler="at.ecrit.e4.tools.extension.core.commands.CopyHandler"
            id="at.ecrit.e4.tools.extension.core.command.copy"
            name="Copy">
      </command>
      <command
            defaultHandler="at.ecrit.e4.tools.extension.core.commands.PasteHandler"
            id="at.ecrit.e4.tools.extension.core.command.paste"
            name="Paste">
      </command>
      <command
            defaultHandler="at.ecrit.e4.tools.extension.core.commands.TextileContentAssistHandler"
            id="at.ecrit.e4.tools.extension.core.command.textileContentAssist"
            name="Textile content assist">
      </command>
   </extension>
</plugin>
